@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;700&display=block');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

h1 {
	@apply text-right uppercase leading-extra-tight font-extralight text-yellow transform origin-bottom-left -translate-y-3/100 -rotate-5;
	font-size: 28vw;
}

h2 {
	@apply text-4xl font-thin tracking-widest uppercase md:text-5xl lg:text-7xl xl:text-8xl leading-extra-tight;
}

section,
footer {
	position: relative;
	width: 100%;
	z-index: 1;
}

section:before,
footer:before {
	content: '';
	display: block;
	position: absolute;
	width: 200%;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: translateX(0) rotate(-5deg);
	z-index: -1;
	background-color: inherit;
}

header {
	position: relative;
	height: 90vh;
}

@media screen and (min-width: 1024px) {
	header {
		height: 100vh;
	}
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

footer {
	position: relative;
}

footer .attribution {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

figure {
	position: relative;
}

figure>span:before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: -49%;
	z-index: -1;
	background-color: inherit;
}

figcaption:before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: -49%;
	z-index: -1;
	background-color: inherit;
}

figcaption svg {
	@apply fill-current text-beige;
}

figcaption svg:hover {
	@apply fill-current text-yellow;
}

.container {
}

@media screen and (min-width: 768px) {
	.container {
		column-count: 2;
		column-gap: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		column-count: 2;
		column-gap: 4rem;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		column-count: 2;
		column-gap: 4rem;
	}
}

@media screen and (min-width: 1536px) {
	.container {
		column-count: 2;
		column-gap: 6rem;
	}
}
